@media (max-width: 480px){

    body{
        width: 100%;
    }

    .container{
        width: 100%;
        
    }

    header{
        width: 100%;
        justify-content: center;

    }
    form{
        margin-left: 0px;
        justify-content: center;
    }

    
    

}